
body {
    margin: 0%;
    background-color: gray;
}

#banner {
    text-align: center;
}

#img_list {
    text-align: center;
}

li {
    list-style: none;
    display: inline;
}

li img {
    border: 5px solid rgb(88, 88, 88);
    width: 260px;
    border-radius: 130px;
}